<mat-grid-list cols="1" rowHeight="100vh" gutterSize="0">
  <mat-grid-tile style="display:flex;justify-content:center;align-items:center;">
    <mat-card style="width:360px;padding:24px;">
      <h2>Sign in</h2>
      <form [formGroup]="form" style="display:flex;flex-direction:column;gap:16px;" (ngSubmit)="onSubmit()"
        autocomplete="off">
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput type="text" formControlName="login" autocomplete="new-username" name="login"
            [matAutocomplete]="auto" />

          <mat-autocomplete (optionSelected)="onLoginSelected($event)" #auto="matAutocomplete">
            @for (option of behavior.autoLogins; track option.login) {
            <mat-option [value]="option.login">{{option.login}}</mat-option>
            }
          </mat-autocomplete>

        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [type]="'password'" formControlName="password" autocomplete="new-password" name="password" />
        </mat-form-field>

        <div style="display:flex;justify-content:center;">
          <button mat-flat-button color="primary" type="submit">
            Sign in
          </button>
        </div>

        <div *ngIf="error" style="color:#b00020;text-align:center;">{{ error }}</div>
      </form>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>